:root{
  --orange-color: #F55A00;
  --orange-background: rgba(245, 90, 0, .6);
  --dark-grey: #2d2d2d;
}

html {
  scroll-behavior: smooth;
}

.background-main-page{
  background-image: url(/images/mainbackground.png);
  background-position: center;
  background-size:cover;
  background-attachment: fixed;
  background-repeat: no-repeat;
  max-width: 100%;
  height: 100%;
}

.select-workout {
  color: var(--orange-color);
  width: 375px;
  height: 812px;
}

.select-workout .row {
  padding-top: 1rem;
}

.header {
  padding: 3rem 1rem 1rem 1rem;
  text-align: center;
}

.no-margin {
  margin: 0;
}

.auto-margin {
  margin: auto;
}

.orange-text {
  color: var(--orange-color);
}

li {
  max-width: 800px;
  border: 2px solid var(--orange-color);
  margin: 1rem 0;
  list-style-type: none;
  background-color: var(--dark-grey);
  border-radius: 20px;
  padding: .5rem;

}

.no-padding {
  padding: 0;
}

i {
  cursor: pointer;
  margin-left: 1rem;
  font-size: small;
}

.column-80 {
  flex-basis: 80%;
}

.tag {
  width: 125px;
  height: 51px;
  background-color: var(--orange-background);
  color: white;
  border-radius: 6px;
  border: none;
  margin: .5rem;
  cursor: pointer;
  text-align: center;
  padding-top: 1rem;
  text-decoration: none;
}

.tag:hover {
  background-color: var(--orange-color);
}

.line-break div {
  height: 1px;
  width: 100px;
  background-color: rgba(196, 196, 196, .55);
  margin: 0 1.5rem;
}

.line-break {
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;

}

.line-break p {
  color: white;
}

.tag-buttons {
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

.select-tag{
  background-color: #010101;
  color: var(--orange-color);
  max-width: 100%;
  height: 100vh;
  background-attachment: fixed;
  background-position: center;
}
